@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}


@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            
        </hgroup>
       <p>Have something you need to tell us? We'd love to hear from you:</p>
    </div>
</section>
}


<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>01942 412332</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">fastfilmsadmin@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        124 Wigan Road<br />
        Wigan, WN1 6XQ
    </p>
</section>

